<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body p-2 p-md-4">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/metodos/mano-de-obra']"><i class="nav-icon fa fa-university"></i> Mano de obra </a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/metodos/aplicacion']"><i class="nav-icon fas fa-file-alt"></i> Otros costos </a>
                </li>

                
            </ul>
            <div class="p-md-2">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    