<div class="modal-header bg-info text-white">
    <h5 class="modal-title">Cambiar contraseña usuario</h5>
    <button type="button" class="btn-close" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')">
    </button>
</div>

  <div class="modal-body">
    <form [formGroup]="editPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <!-- <label>Nueva contraseña</label> -->
        <label class="col-md-12 form-control-label" for="password">Nueva contraseña</label>
          <div class="col-md-12">
            <input 
              type="text" 
              appUppercase
              cFormControl 
              formControlName="password"
              [ngClass]="{
                'is-invalid': editPasswordForm.controls['password'].errors && !editPasswordForm.controls['password'].pristine,
                'is-valid'  : editPasswordForm.controls['password'].valid
              }">
          </div>
        <!-- <input name="password" type="password" class="form-control" [(ngModel)]="user.password" required
               #password="ngModel"> -->
      </div>
    </form>
  </div>

<!-- <div class="modal-footer">
<button class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
<button class="btn btn-success" (click)="editPassword(user._id, user.password)" form="editPassword"
        type="submit" [disabled]="!editPasswordForm.form.valid"><i class="fa fa-pencil"></i> Cambiar
</button>
</div> -->

<div class="modal-footer">
    <div class="input-group mb-3">
      <div class="col-md-6 col-12">
        <div class="d-grid gap-2 me-1">
          <button  cButton class="text-white" color="info" (click)="onSubmit()" [disabled]="!editPasswordForm.valid">Cambiar</button>
        </div>
      </div>
  
      <div class="col-md-6 col-12">
        <div class="d-grid gap-2 me-1">
          <button  cButton class="text-white" color="secondary" (click)="activeModal.dismiss('Cross click')">Cancelar</button>
        </div>
      </div>
    </div>
</div>