<c-row ngPreserveWhitespaces>

    <div class="text-end">
      <button cButton color="info" shape="rounded-pill" class="text-white my-3" (click)="newOpenModal()">Nuevo grupo</button>
    </div>


    <div class="table-responsive">
        <table [hover]="false" cTable>
          <thead>
            <tr>
              <th>#</th>
              <th>NOMBRE</th>
              <th>ASESOR</th>
              <th style="text-align:right">ACCIÓN</th>
            </tr>
          </thead>
          <tbody>
            @for (companyGroup of companyGroups; track companyGroup; let i = $index) {
              <tr>
                <td>{{ i + 1 + ((page - 1) * pageSize) }}</td>
                <td>{{ companyGroup.name }}</td>
                <td>
                  @for (advisor of companyGroup.advisors; track advisor) {
                    <p>{{advisor?.name}}</p>
                  }
                </td>
                <td align="right">
                  <c-button-group aria-label="Todos" role="group">
                    <button class="me-1" size="sm" cButton shape="rounded-pill" color="info" (click)="editModal(companyGroup._id)">
                      <fa-icon class="text-white" [icon]="faPenToSquare"></fa-icon>
                    </button>
    
                      <!-- <button class="me-1" size="sm" cButton shape="rounded-pill" color="info" (click)="removeCompanyGroup(companyGroup._id)">
                        <fa-icon class="text-white" [icon]="faTrash"></fa-icon>
                      </button> -->
    
                  </c-button-group>
                  <!-- <button (click)="openModal('', 'modalEdit', companyGroup._id)" class="btn btn-warning mr-1"><i class="fa fa-pencil"></i> Editar</button>
                  <button class="btn btn-danger" (click)="removeCompanyGroup(companyGroup._id)"><i class="fa fa-trash"></i> Eliminar</button> -->
                </td>
              </tr>
            }
          </tbody>
        </table>
    </div>
    
</c-row>

<c-row class="mt-3">
  <ngb-pagination
  [collectionSize]="total"
  [page]="page"
  [pageSize]="pageSize"
  (pageChange)="onPageChange($event)"
  aria-label="Pagination"
  [maxSize]="5"
  [rotate]="true"
  ></ngb-pagination>
  <p>Total: {{ total }}</p>
</c-row>

<toaster-container [toasterconfig]="config"></toaster-container>